@import "colors";
@import "reset";
@import "font";

@import "general";
@import "header";
@import "footer";


$phone-end: 720px;
$tablet-begin: 721px;
$tablet-end: 860px;
$desktop-small-begin: 861px;
$desktop-small-end: 1200px;
$desktop-large-begin: 1201px;


@media screen and (max-width: $phone-end) {
  @import "phone/phone";
}

@media screen and (min-width: $tablet-begin) and (max-width: $tablet-end) {
  @import "tablet/main";
}

@media screen and (min-width: $desktop-small-begin) {
  @import "desktop/desktop";
}

@media screen and (min-width: $desktop-small-begin) and (max-width: $desktop-small-end) {
  @import "desktop/small/main";
}
@media screen and (min-width: $desktop-large-begin) {
  @import "desktop/large/main";
}
