$desktop-small-width: 90%;
$side-margin: 5%;

header {
  width: 100%;
  padding: 10px 5%;
  right: 0px;
}

section.about {
  .img-container {
    width: 40.5%;
  }

  article {
    width: 45%;
    margin-bottom: 60px;

    p {
      font-size: 16px;
      line-height: 32px;
    }
  }
}

section {
  width: $desktop-small-width;
  left: $side-margin;
}

//
// .contact {
//   ul {
//     font-size: 28px;
//     font-weight: 300;
//   }
//   li  {
//     margin: 10px 0;
//   }
//
//   strong {
//     font-weight: 300;
//   }
// }
