@import "layout_vars";

header {
  width: 100%;
  padding: 20px $side-margin;
  right: 0px;
}

section.about {
  .img-container {
    width: 40.5%;
  }

  article {
    width: 45%;
    margin-bottom: 60px;

    p {
      font-size: 16px;
      line-height: 32px;
    }
  }
}

section.projects {
  article {
    width: $desktop-small-width;
    .left-panel {
      width: 25%;
      margin-right: 5%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

section.skills {
  article {
    width: $desktop-small-width;
  }

  .grid {
    justify-content: center;
    width: 100%;
    padding: 0px 5%;
    padding-bottom: 50px;
  }
  .grid-item {
    height: 240px;
    width: 24%;
  }
}



footer {
  left: $side-margin;
  width: $desktop-small-width;
}

.contact {
  ul {
    font-size: 28px;
    font-weight: 300;
  }
  li  {
    margin: 10px 0;
  }

  strong {
    font-weight: 300;
  }
}
