.container {
  width: 90%;
  margin: 0 auto;
}

article {
  position: static;
  margin-bottom: 60px;
  p {
    line-height: 2;
    // padding-left: 10px;
  }
}
h4 {
  font-size: 22px;
  margin-bottom: 20px;
}


#collapse-button {
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
  width: 32px;
  height: 32px;
}

.burger {
  display: block;
  position: relative;
  margin: 13px 0px;
  height: 4px;
  width: 30px;
  background: black;
}

.burger::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  height: 4px;
  width: 30px;
  background: black;
}
.burger::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 30px;
  background: black;
}

.phone-collapse {
  position: relative;
  height: 30px;
  .content {
    width: 180px;
    position: absolute;
    top: 40px;
    right: 0;
    background: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    display: none;
  }
  .content.active {
    display: block;
  }
  margin-right: 5px;
}

header {
  position: static;
  width: 100%;
  display: block;
  padding: 10px 5%;

  .logo {
    display: flex;
    justify-content: space-between;
    h1 {
      align-self: flex-end;
      font-size: 32px;
    }

    p {
      margin: 5px 0;
      align-self: flex-end;
    }
  }

  nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    .external {
      flex-wrap: wrap;
      // display: block;
    }

    .internal {
      order: 1;
      align-self: flex-end;
      a {
        margin-bottom: 0;
      }
      a:first-child {
        margin-left: 0;
      }
    }
    .phone-collapse {
      order: 2;
    }
  }
}

.about {
  img {
    display: block;
    padding: 30px 0;
    max-width: 480px;
    height: auto;
    margin: auto;

  }
}

.skills {
  .grid {
    justify-content: flex-start;
  }
  .grid-item {
    text-align: center;
    padding: 20px;
    width: 48%;
    height: 200px;
    img {
      display: block;
      margin: auto;
      height: 85%;
      width: auto;
    }
  }
}

.projects {
  img {
    width: 100%;
    height: auto;
  }
}

.contact {
  ul {
    font-size: 20px;
    font-weight: 300;
  }
  li  {
    margin: 10px 0;
  }

  strong {
    font-weight: 300;
  }
}
