$desktop-large-width: 1080px;
$side-margin: calc(50% - 540px);

header {
  left: 0px;
  padding-left: $side-margin;
  padding-right: $side-margin;
  right: 0px;
}

.container {
  width: $desktop-large-width;
  left: $side-margin;
}


// section.projects {
//   article {
//     width: $desktop-large-width;
//     .left-panel {
//       width: 270px;
//       margin-right: 54px;
//     }
//
//     img {
//       width: 756px;
//       height: auto;
//     }
//   }
// }
//
// section.skills {
//   article {
//     width: $desktop-large-width;
//   }
//   .grid-item {
//     width: 24%;
//   }
// }
//
// footer {
//   left: $side-margin;
//   width: $desktop-large-width;
// }
//
// .contact {
//   ul {
//     font-size: 28px;
//     font-weight: 300;
//   }
//   li  {
//     margin: 10px 0;
//   }
//
//   strong {
//     font-weight: 300;
//   }
// }
