header {

  .logo {
    align-self: flex-end;

    h1 {
      font-size: 54px;
      font-weight: 300;
    }

    p {
      text-transform: uppercase;
      letter-spacing: 5px;
      margin: 5px 0px;
    }
  }
}
