.skills {
  text-align: center;
  width: 100%;

  .grid {
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 0px 5%;
    height: calc(100% - 80px);

    .exit-right {
      position: relative;
      right: -2000px;
      top: 0px;
      transition: right .8s;
    }

    .exit-left {
      position: relative;
      left: -4000px;
      top: 0px;
      transition: left .8s;
    }
  }
  .grid-item {
    text-align: center;
    padding: 20px;
    height: 50%;

    img {
      display: block;
      margin: auto;
      height: 80%;
      margin-bottom: 20px;
      width: auto;
    }
  }
}

.skills-group.active .grid {

  .exit-right {
    position: relative;
    right: 0px;
  }
  .exit-left {
    position: relative;
    left: 0;
  }
}

.skills-container {
  margin-bottom: 80px;
}
